$transparent: transparent !important;

// Primary Colors
$primary-color: #2e6e20;  //#26329D;
$primary-color-1: #2e6e20 ;//#5863B6;
$primary-color-2: #8baf19; //#9199CD;
$secondary-color: #f28300;//#ef765f;
$wrap-color: #f8f8fa;

// Main Colors
$main-soft-color: #95969b;
$main-green-color: #39c666;
$main-red-color: #e11a1a;

// Utilities Colors
$border-gray-1: #eeeeee;
$border-gray-2: #2e6e20;


/*


$transparent: transparent !important;

// Primary Colors
$primary-color: #26329D;
$primary-color-1: #5863B6;
$primary-color-2: #9199CD;
$secondary-color: #ef765f;
$wrap-color: #f8f8fa;

// Main Colors
$main-soft-color: #95969b;
$main-green-color: #39c666;
$main-red-color: #e11a1a;

// Utilities Colors
$border-gray-1: #eeeeee;
$border-gray-2: #d3d2d7;*/