#genno {
  .primary-color {
    color: $primary-color;
  }
  .secondary-color {
    color: $secondary-color;
  }
  .wrap-color {
    color: $wrap-color;
  }
  .primary-color-1 {
    color: $primary-color-1;
  }
  .primary-color-2 {
    color: $primary-color-2;
  }
  .main-soft-color {
    color: $main-soft-color;
  }
  .main-green-color {
    color: $main-green-color;
  }
  .main-red-color {
    color: $main-red-color;
  }
}